---
import BaseLayout from '../../layouts/base-layout.astro';
import BlogPreviewArticles from '../../components/blog-preview-articles.astro';

import {fetchBlogPosts} from '../../utils/get-api-url';

const {data: posts} = await fetchBlogPosts();
---

<BaseLayout title="blog">
  <main>
    <section>
      <h3>Blog</h3>
      {(<BlogPreviewArticles posts={posts} />)}
    </section>
  </main>
</BaseLayout>

<style>
  h3 {
    font-size: var(--fs-xxl);
    margin-bottom: var(--padding);
  }
  section {
    padding-inline: var(--padding);
  }
</style>
