---
import BaseLayout from '../../layouts/base-layout.astro';
import BlogPreviewArticles from '../../components/blog-preview-articles.astro';

import type {Post} from '../../types/blog';

const res = await fetch('https://seefalke.info/wp-json/wp/v2/posts');
const posts = (await res.json()) as Array<Post>;
---

<BaseLayout title="blog">
  <main>
    <section>
      <h3>Blog</h3>
      {(<BlogPreviewArticles posts={posts} />)}
    </section>
  </main>
</BaseLayout>

<style>
  h3 {
    font-size: var(--fs-xxl);
    margin-bottom: var(--padding);
  }
  section {
    padding-inline: var(--padding);
  }
</style>
