---
import InfoCards from '../components/info-cards.astro';
import BlogPreivew from '../components/blog-preview.astro';
import BaseLayout from '../layouts/base-layout.astro';
import CustomShapeBottom from '../components/custom-shape-bottom.astro';

import {Image} from 'astro:assets';

import localSeefalke from '../images/seefalke-neu.webp';

import SVGIcon from '/src/icons/arrow-down.svg';
import WoIst from '../components/wo-ist.astro';
---

<BaseLayout title="Die Seefalke">
  <main>
    <section class="introduction">
      <div class="intro flow fast-scroll">
        <Image
          src={localSeefalke}
          alt="bild der seefalke"
          class="index-image"
          loading={'eager'}
        />

        <div class="text-wrapper">
          <h1>
            MOIN & willkommen an Bord der <span class="text-gradient"
              >Seefalke</span
            >!
          </h1>
          <div class="intro-text flow">
            <p>
              Unser historisches Schiff "Seefalke" liegt <strong
                >Museumshafen in Harburg</strong
              >. Wir sind aus Niendorf hierher gezogen und f端hlen uns richtig
              wohl
            </p>
            <p>
              Als ehemalige Lotsenversetzerin ist die Seefalke mittlwerweile in
              den wohlverdienten Ruhestand gegangen... Das bedeutet jedoch
              nicht, dass sie nicht mehr rauskommt! Weiterhin wird die Seefalke
              als martime <strong>Filmkulisse f端r historische Filme</strong>
               genutzt.
            </p>
            <p>
              Erfahre jetzt mehr 端ber die Seefalke, ihre Geschichte und auch
              ihre Crew.
            </p>
          </div>
        </div>
      </div>
      <div class="cta-slide-in">
        Scrolle weiter nach unten, um mehr 端ber die Seefalke zu erfahren.
        <div class="arrow-container">
          <Image
            src={SVGIcon}
            alt=""
            style={{
              width: '24px',
              height: '24px',
              margin: '0 auto',
              zIndex: '-1',
              position: 'relative'
            }}
          />
        </div>
      </div>
    </section>

    <InfoCards />
    <BlogPreivew />
    <WoIst />
  </main>
</BaseLayout>

<script>
  import {animate, scroll, type MotionKeyframesDefinition} from 'motion';

  const initiateWindowAnimation = () => {
    const isMobile = window.innerWidth <= 768 ? true : false;

    const animationProperties: MotionKeyframesDefinition = {
      opacity: [0, 1, 1, 0]
    };

    if (!isMobile) {
      animationProperties.y = [-200, 0, 0, 200];
    }

    document.querySelectorAll('section div').forEach((item) => {
      scroll(animate(item, animationProperties), {
        target: item,
        offset: ['end start', 'end end', 'start start', 'end start']
      });
    });

    window.addEventListener('scroll', () => {
      const scrollPosition = window.scrollY;
      const slideInDiv = document.querySelector(
        '.cta-slide-in'
      ) as HTMLElement | null;

      // Adjust the translateY value to control scroll speed
      const translateYValue = -scrollPosition * 0.2;

      // Apply the transform to the fast-scroll element
      const fastScroll = document.querySelector(
        '.fast-scroll'
      ) as HTMLElement | null;

      if (fastScroll) {
        fastScroll.style.transform = `translateY(${translateYValue * 1.3}px)`;
      }

      // Move the slide-in div in from the right when scrolling up

      if (slideInDiv) {
        slideInDiv.style.transform = `translateY(${translateYValue * 1.2}px)`;
      }
    });
  };

  initiateWindowAnimation();

  // We do not execute initMapInstance() here, because on the first render, the map is instantiated right away
  document.addEventListener('astro:after-swap', () => {
    const isMainPage = document.querySelector('.introduction');
    // Todo: check if page has google maps on

    if (!isMainPage) {
      return;
    }
    initiateWindowAnimation();
  });
</script>

<style>
  .introduction {
    padding: var(--padding);
    text-wrap: balance;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    width: 100%;
  }
  h1 {
    margin-bottom: var(--padding);
  }

  .arrow-container {
    z-index: -1;
  }

  .cta-slide-in {
    text-align: center;
    /* white-space: nowrap; */
    /* border: 1px solid var(--clr-accent); */
    position: absolute;
    /* left: calc(50% - 10rem); */
    /* bottom: 10rem; */
    margin-inline: var(--padding);
    padding: calc(var(--padding) / 2);

    z-index: 0;
    bottom: clamp(-5.2rem, -6rem, -7rem);
    /* left: -100vw; */
    /* margin-bottom: var(--padding); */
    transition: right 0.5s ease-in-out;
    z-index: -1;
  }

  /* @media (--viewport-medium) {
    .cta-slide-in {
      display: block;
    }
  } */

  .fast-scroll {
    /* background-color: #f0f0f0; */
    transform: translateY(0);
  }

  .index-image {
    object-fit: cover;
  }

  .text-wrapper {
    /* min-width: 16rem; */
    text-align: left;
    width: 100%;

    flex: 2;
    vertical-align: baseline;
    line-height: var(--fs-xl);
  }

  img {
    flex: 1;
    object-fit: contain;
  }

  .filmset-info {
    width: 100%;
    color: var(--clr-accent);
    background-color: var(--clr-background);
    padding: 1.4rem;
    font-size: var(--fs-xl);
    line-height: var(--fs-xl);
    border-bottom: 1px solid var(--clr-accent);
    border-top: 1px solid var(--clr-accent);
  }

  .image-container {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.5s ease; /* Smooth transition effect */
  }
  .background-overlay > div {
    /* margin: auto; */
    margin-top: 10vh;
  }

  .text-gradient {
    background: rgb(33, 156, 103);
    background: linear-gradient(to right, rgb(33, 156, 103) 0%, #cf1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient:hover {
    text-decoration: underline;
    z-index: 20;
    -webkit-text-fill-color: var(--clr-primary-text);
  }
</style>
