---
import BaseLayout from '../layouts/base-layout.astro';

import {Image} from 'astro:assets';
import localMathias from '../images/mathias.png';
import instaIcon from '../icons/Instagram_simple_icon.svg';
---

<BaseLayout title="Über uns">
  <div class="kontakt-container">
    <p>
      Moin, meine Name ist <strong>Mathias</strong> und ich bin der Kapitän auf
      der Seefalke
    </p>
    <div class="kontakt-symbols">
      Du findest mich auf auch hier:
      <a
        target="_blank"
        href="https://www.instagram.com/lotsenversetzer/?img_index=1"
      >
        <Image
          src={instaIcon}
          alt="Insta Icon"
          class="kontakt-img"
          style={{
            width: '24px',
            height: '24px'
          }}
        />
      </a>
    </div>

    <Image src={localMathias} alt="Mathias" class="kontakt-img" />
  </div>
</BaseLayout>

<style>
  .kontakt-container {
    /* padding-inline: var(--padding); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-accent);
    color: var(--clr-background);
    flex-wrap: wrap;
    text-align: center;
    line-height: var(--fs-xxl);
    gap: var(--padding);
  }

  .kontakt-symbols {
    background-color: var(--clr-background);
    color: var(--clr-accent);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .kontakt-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }
</style>
