<footer>
  <nav>
    <ul>
      <li>
        <a href={'/astro-seefalke/impressum'}>{'Datenschutz & Impressum'}</a>
      </li>
      <li>
        <a href={'/astro-seefalke/kontakt'}>{'Kontakt'}</a>
      </li>
    </ul>
  </nav>
</footer>

<style>
  footer {
    padding: 1rem;
  }

  nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  ul li {
    text-decoration: none;
    padding-left: 1rem;
  }

  ul li:not(:last-child) {
    border-right: 1px solid var(--clr-text-primary);
    padding-right: 1rem;
  }

  ul li:first-child {
    padding-left: 0;
  }
</style>
