---
const currentPath = Astro.url.pathname;
---

<div class="wo-ist-container">
  <h2>Finde die Seefalke</h2>
  <p>Die letzte aktulle Position der Seefalke wird hier gezeigt</p>
  <div id="vesselfinder" data-path={currentPath}></div>
</div>

<script>
  import {createConsentText} from '../scripts/create-consent-text';
  import {loadVesselFinder} from '../scripts/load-vesselfinder';

  const initVesselFinder = () => {
    const cookieConsent = localStorage.getItem('cookiesAccepted');
    const element = document.getElementById('vesselfinder');

    if (!element) {
      console.warn('No element found');
      return null;
    }

    if (!(cookieConsent === 'true')) {
      createConsentText({element});
    } else {
      if (!element) {
        console.warn('No div found');
        return null;
      }

      loadVesselFinder();
    }
  };

  initVesselFinder();

  // The "astro:after-swap" event is fired before EVERY page is loaded.
  // We can use this to check if the current page is the one we want to run our script on.
  document.addEventListener('astro:after-swap', () => {
    const path = document.getElementById('vesselfinder');

    // If the current page is not the one we want, return early.
    if (!path) return;
    initVesselFinder();
  });
</script>

<style>
  .wo-ist-container > p {
    padding-inline: var(--padding);
    margin-bottom: var(--padding);
  }

  h2 {
    font-size: var(--fs-xxl);
    line-height: var(--fs-xxl);
    margin: var(--padding);
  }
  .wo-ist-container {
    display: flex;
    flex-direction: column;
    line-height: var(--fs-xxl);
  }
</style>
